body {
    background-color: #f8f8f8; /* Cambiar el color de fondo según tu preferencia */
}

/* Estilos para la barra de navegación */
nav {
    background-color: #333;
    width: 100%; /* Cubre todo el ancho */
    padding: 10px 0; /* Ajusta el espaciado */
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilos para los elementos de lista de la barra de navegación */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; /* Centra los elementos */
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #555;
}

/* Estilos para la imagen de cover */
.cover {
    width: 100%;
    height: 66.66vh; /* Ocupa un tercio de la página en altura */
    overflow: hidden; /* Oculta el exceso de imagen */
    position: relative;
}

.cover img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}


/* Estilos para el contenido superpuesto */
.contenido {
    position: absolute;
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Centra exactamente */
    text-align: center;
    color: white;
}

/* Resto de tus estilos aquí */

.titulo-principal{
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Estilos para la página Nosotros */
.titulo-nosotros {
    color: blue; /* Cambia el color del título según tu preferencia */
}

.texto-nosotros {
    color: green; /* Cambia el color del texto según tu preferencia */
}
.fa-solid{
    display: inline-block;
}